<center>
<form method="POST">
<font size="5">
    Username:<br>
    <input name="Username"><br>
    Shell Type:<br>
    <input name="ShellType"><br>
    Home Folder:<br>
    <input name="HomeFolder"><br>
    Password:<br>
    <input type="password" name="Password"><br>
    Grant Sudo:<br>
    <input type="radio" name="Sudo" value="No" checked>No
    <input type="radio" name="Sudo" value="Yes">Yes<br><br><br><br><br>
    Operation:<br>
    <input type="radio" name="Op" value="Create">Create
    <input type="radio" name="Op" value="Delete">Delete
    <input type="radio" name="Op" value="Modify">Modify<br>
    <input type="submit">
</font>
</form>
</center>
